__pycache__/
*.py[cod]
*$py.class
*.so

.ruff_cache/
.pytest_cache/
venv/
develop-eggs/
.DS_Store
*.egg
*.egg-info/
.vscode/
*.log
.tox/
.env
build/
.cache/
dist/
htmlcov/
Desktop.ini
.mypy_cache/
.venv/
.Python
